// *-------------------------*/
// * Variables
// *-------------------------*/
$font-family-noto-sans: 'Noto Sans TC', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;

// color
$white: #fff;
$black: #000;
$primary: #613215;
$secondary: #e38d28; 
$thirdly: #190014;
$fourthly: #efefef;

// font
$font-s: 1.4rem;
$font-base: 1.6rem;
$font-m: 2rem;
$font-l: 2.4rem;
$font-xl: 2.8rem;
$font-2xl: 3.2rem;
$font-3xl: 3.6rem;
$font-4xl: 4rem;
